@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b; /* Preto profundo */
  --foreground: #ededed; /* Branco suave */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilização suave para inputs e cards */
.glass-card {
  background: rgba(24, 24, 27, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}